n8n_oil_submission_workflow.json
{
    "name": "OIL Tracker — Submission Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "oil-submit",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node_webhook_submit",
            "name": "Webhook — Receive OIL Form",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "oil-submit"
        },
        {
            "parameters": {
                "jsCode": "// ── Validate and format fields ───────────────────────────────────────────────\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['staffName', 'dateApplied', 'oilDate', 'oilHours', 'reason'];\nfor (const field of required) {\n  if (!body[field] || body[field].toString().trim() === '') {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\nconst hours = parseFloat(body.oilHours);\nif (isNaN(hours) || hours <= 0 || hours > 24) {\n  throw new Error('OIL hours must be a number between 0.5 and 24.');\n}\n\nif (hours < 10) {\n  if (!body.oilTimeFrom || !body.oilTimeTo) {\n    throw new Error('OIL From Time and To Time are required for partial day claims.');\n  }\n}\n\nfunction formatTime(t) { return t ? t.replace(':', 'h') : ''; }\n\nreturn [{\n  json: {\n    staffName:        body.staffName.trim(),\n    dateApplied:      body.dateApplied,\n    oilDate:          body.oilDate,\n    oilHours:         hours,\n    oilTimeFrom:      hours >= 10 ? 'Full Day' : formatTime(body.oilTimeFrom || ''),\n    oilTimeTo:        hours >= 10 ? 'Full Day' : formatTime(body.oilTimeTo   || ''),\n    reason:           body.reason.trim(),\n    submittedAt:      new Date().toISOString(),\n    validationStatus: 'Pending'\n  }\n}];\n"
            },
            "id": "node_validate_fields",
            "name": "Validate Fields",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "mode": "list",
                    "value": "REPLACE_WITH_YOUR_SHEET_ID"
                },
                "sheetName": {
                    "mode": "list",
                    "value": "Sheet1"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {}
                },
                "options": {}
            },
            "id": "node_sheets_append",
            "name": "Append Row to Google Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
                    "name": "Google Sheets account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $('Validate Fields').first().json;\n\nconst baseUrl    = 'https://ulink.app.n8n.cloud/webhook/oil-approve';\nconst params     = `staffName=${encodeURIComponent(data.staffName)}&submittedAt=${encodeURIComponent(data.submittedAt)}`;\nconst approveUrl = `${baseUrl}?decision=Approved&${params}`;\nconst rejectUrl  = `${baseUrl}?decision=Rejected&${params}`;\n\nconst timeDisplay = data.oilTimeFrom === 'Full Day' ? 'Full Day' : `${data.oilTimeFrom} to ${data.oilTimeTo}`;\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f5f5f5;margin:0;padding:20px\">\n  <div style=\"max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.1)\">\n    <div style=\"background:linear-gradient(135deg,#6366f1,#8b5cf6);padding:30px;text-align:center\">\n      <h1 style=\"color:white;margin:0;font-size:22px\">🔔 New OIL Claim Submitted</h1>\n      <p style=\"color:rgba(255,255,255,0.85);margin:8px 0 0\">Action required — please review and approve or reject</p>\n    </div>\n    <div style=\"padding:30px\">\n      <table style=\"width:100%;border-collapse:collapse\">\n        <tr style=\"border-bottom:1px solid #eee\">\n          <td style=\"padding:12px 0;color:#666;font-size:13px;width:40%\">👤 Staff Name</td>\n          <td style=\"padding:12px 0;font-weight:600;color:#111\">${data.staffName}</td>\n        </tr>\n        <tr style=\"border-bottom:1px solid #eee\">\n          <td style=\"padding:12px 0;color:#666;font-size:13px\">📅 Date Applied</td>\n          <td style=\"padding:12px 0;font-weight:600;color:#111\">${data.dateApplied}</td>\n        </tr>\n        <tr style=\"border-bottom:1px solid #eee\">\n          <td style=\"padding:12px 0;color:#666;font-size:13px\">📆 OIL Date</td>\n          <td style=\"padding:12px 0;font-weight:600;color:#111\">${data.oilDate}</td>\n        </tr>\n        <tr style=\"border-bottom:1px solid #eee\">\n          <td style=\"padding:12px 0;color:#666;font-size:13px\">⏱ Hours Claimed</td>\n          <td style=\"padding:12px 0;font-weight:600;color:#111\">${data.oilHours} hours</td>\n        </tr>\n        <tr style=\"border-bottom:1px solid #eee\">\n          <td style=\"padding:12px 0;color:#666;font-size:13px\">🕐 Time Period</td>\n          <td style=\"padding:12px 0;font-weight:600;color:#111\">${timeDisplay}</td>\n        </tr>\n        <tr>\n          <td style=\"padding:12px 0;color:#666;font-size:13px\">💬 Reason</td>\n          <td style=\"padding:12px 0;font-weight:600;color:#111\">${data.reason}</td>\n        </tr>\n      </table>\n      <hr style=\"border:none;border-top:1px solid #eee;margin:24px 0\">\n      <p style=\"text-align:center;color:#666;font-size:14px;margin-bottom:20px\">Please take one of the following actions:</p>\n      <div style=\"text-align:center\">\n        <a href=\"${approveUrl}\" style=\"display:inline-block;background:#10b981;color:white;text-decoration:none;padding:14px 32px;border-radius:8px;font-size:16px;font-weight:700;margin:0 8px\">✅ APPROVE</a>\n        <a href=\"${rejectUrl}\" style=\"display:inline-block;background:#ef4444;color:white;text-decoration:none;padding:14px 32px;border-radius:8px;font-size:16px;font-weight:700;margin:0 8px\">❌ REJECT</a>\n      </div>\n      <p style=\"text-align:center;color:#999;font-size:11px;margin-top:20px\">Submitted: ${data.submittedAt}</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { ...data, emailHtml } }];\n"
            },
            "id": "node_build_email",
            "name": "Build Notification Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "toList": [
                    "gm@ulinkassist.com",
                    "claims1@ulinkassist.com",
                    "finance@ulinkassist.com"
                ],
                "subject": "=🔔 OIL Claim Review Required — {{ $json.staffName }} ({{ $json.oilHours }} hrs on {{ $json.oilDate }})",
                "emailType": "html",
                "message": "={{ $json.emailHtml }}",
                "options": {}
            },
            "id": "node_send_email",
            "name": "Send Notification Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1120,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'OIL claim submitted successfully. Your manager has been notified for approval.' }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "node_respond_success",
            "name": "Respond — Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook — Receive OIL Form": {
            "main": [
                [
                    {
                        "node": "Validate Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Fields": {
            "main": [
                [
                    {
                        "node": "Append Row to Google Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Append Row to Google Sheet": {
            "main": [
                [
                    {
                        "node": "Build Notification Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Notification Email": {
            "main": [
                [
                    {
                        "node": "Send Notification Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Notification Email": {
            "main": [
                [
                    {
                        "node": "Respond — Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveDataSuccessExecution": "all",
        "saveDataErrorExecution": "all",
        "saveManualExecutions": true
    },
    "staticData": null,
    "tags": [
        "oil-tracker"
    ],
    "pinData": {},
    "meta": {
        "instanceId": "oil-tracker-submission-v5"
    }
}