n8n_claims_submission_workflow.json
{
    "name": "Employee Claims — Submission Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "claims-submit",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": false
                }
            },
            "id": "node_webhook_claims",
            "name": "Webhook — Receive Claims Form",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [240, 300],
            "webhookId": "claims-submit"
        },
        {
            "parameters": {
                "jsCode": "// ── Validate and map Claims/Provider form fields ─────────────────────────────\nconst body = $input.first().json.body || $input.first().json;\n\nconst required = ['employeeName','type','submissionDate','description','entity','currency','amount','paymentMode','cardDigits','approver'];\nfor (const field of required) {\n  if (!body[field] || body[field].toString().trim() === '') {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Map approver name to email\nconst approverEmails = {\n  'Tan Chien Wei': 'cw.tan@ulinkassist.com',\n  'Galvin Moh':    'gm@ulinkassist.com',\n  'Sharon':        'finance@ulinkassist.com'\n};\nconst approverEmail = approverEmails[body.approver] || 'gm@ulinkassist.com';\n\nreturn [{\n  json: {\n    employeeName:   body.employeeName.trim(),\n    type:           body.type.trim(),\n    submissionDate: body.submissionDate,\n    paymentDate:    body.paymentDate ? body.paymentDate.trim() : 'N/A',\n    description:    body.description.trim(),\n    entity:         body.entity.trim(),\n    currency:       body.currency.trim(),\n    amount:         body.amount.trim(),\n    paymentMode:    body.paymentMode.trim(),\n    cardDigits:     body.cardDigits.trim(),\n    approver:       body.approver.trim(),\n    approverEmail,\n    submittedAt:    new Date().toISOString(),\n    claimStatus:    'Pending Review'\n  },\n  binary: $input.first().binary\n}];\n"
            },
            "id": "node_validate_claims",
            "name": "Validate & Map Fields",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [460, 300]
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/claims 2026/{{ $json.employeeName.replace(/[^a-zA-Z0-9]/g,'_') + '_' + $json.submissionDate + '_Claim.' + ($binary?.claimsFile?.mimeType === 'application/pdf' ? 'pdf' : ($binary?.claimsFile?.mimeType === 'image/png' ? 'png' : 'jpg')) }}:/content",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "microsoftOneDriveOAuth2Api",
                "sendBody": true,
                "contentType": "binaryData",
                "inputDataFieldName": "claimsFile",
                "options": {}
            },
            "id": "node_drive_upload_claims",
            "name": "Upload Document to OneDrive",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [680, 300],
            "credentials": {
                "microsoftOneDriveOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
                    "name": "Microsoft OneDrive account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const oneDriveData = $input.first().json;\nconst fileLink  = oneDriveData.webUrl || oneDriveData['@microsoft.graph.downloadUrl'] || 'N/A';\nconst prevData  = $('Validate & Map Fields').first().json;\nreturn [{ json: { ...prevData, documentLink: fileLink } }];\n"
            },
            "id": "node_extract_link_claims",
            "name": "Extract Drive Link",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [900, 300]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "mode": "list",
                    "value": "REPLACE_WITH_YOUR_CLAIMS_SHEET_ID"
                },
                "sheetName": {
                    "mode": "list",
                    "value": "Sheet1"
                },
                "columns": {
                    "mappingMode": "autoMapInputData",
                    "value": {}
                },
                "options": {}
            },
            "id": "node_sheets_claims",
            "name": "Append Row to Google Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.2,
            "position": [1120, 300],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
                    "name": "Google Sheets account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $('Extract Drive Link').first().json;\n\nconst baseUrl    = 'https://ulink.app.n8n.cloud/webhook/claims-approve';\nconst params     = `employeeName=${encodeURIComponent(data.employeeName)}&submittedAt=${encodeURIComponent(data.submittedAt)}`;\nconst approveUrl = `${baseUrl}?decision=Approved&${params}`;\nconst rejectUrl  = `${baseUrl}?decision=Rejected&${params}`;\nconst docLink    = data.documentLink || 'N/A';\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html><head><meta charset=\"utf-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f5f5f5;margin:0;padding:20px\">\n  <div style=\"max-width:600px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.1)\">\n    <div style=\"background:linear-gradient(135deg,#0ea5e9,#38bdf8);padding:30px;text-align:center\">\n      <h1 style=\"color:white;margin:0;font-size:22px\">💼 Claim / Payment Request</h1>\n      <p style=\"color:rgba(255,255,255,0.85);margin:8px 0 0\">Action required — please review and approve or reject</p>\n    </div>\n    <div style=\"padding:30px\">\n      <table style=\"width:100%;border-collapse:collapse\">\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px;width:45%\">👤 Employee</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.employeeName}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">📋 Type</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.type}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">📅 Submission Date</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.submissionDate}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">📆 Payment Date</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.paymentDate}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">📝 Description</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.description}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">🏢 Entity</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.entity}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">💰 Amount</td><td style=\"padding:10px 0;font-weight:600;color:#10b981\">${data.currency} ${data.amount}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">💳 Payment Mode</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.paymentMode}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">🔢 Card Digits</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.cardDigits}</td></tr>\n        <tr style=\"border-bottom:1px solid #eee\"><td style=\"padding:10px 0;color:#666;font-size:13px\">✅ Approver</td><td style=\"padding:10px 0;font-weight:600;color:#111\">${data.approver}</td></tr>\n        <tr><td style=\"padding:10px 0;color:#666;font-size:13px\">📎 Supporting Document</td><td style=\"padding:10px 0\"><a href=\"${docLink}\" style=\"color:#6366f1;font-weight:600\">View Document</a></td></tr>\n      </table>\n      <hr style=\"border:none;border-top:1px solid #eee;margin:24px 0\">\n      <p style=\"text-align:center;color:#666;font-size:14px;margin-bottom:20px\">Please take one of the following actions:</p>\n      <div style=\"text-align:center\">\n        <a href=\"${approveUrl}\" style=\"display:inline-block;background:#10b981;color:white;text-decoration:none;padding:14px 32px;border-radius:8px;font-size:16px;font-weight:700;margin:0 8px\">✅ APPROVE</a>\n        <a href=\"${rejectUrl}\" style=\"display:inline-block;background:#ef4444;color:white;text-decoration:none;padding:14px 32px;border-radius:8px;font-size:16px;font-weight:700;margin:0 8px\">❌ REJECT</a>\n      </div>\n      <p style=\"text-align:center;color:#999;font-size:11px;margin-top:20px\">Submitted: ${data.submittedAt}</p>\n    </div>\n  </div>\n</body></html>`;\n\nreturn [{ json: { ...data, emailHtml, toEmail: data.approverEmail } }];\n"
            },
            "id": "node_build_claims_email",
            "name": "Build Notification Email",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1340, 300]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "toList": ["={{ $json.toEmail }}"],
                "subject": "=💼 Claim Review Required — {{ $json.employeeName }} | {{ $json.currency }} {{ $json.amount }} | {{ $json.description }}",
                "emailType": "html",
                "message": "={{ $json.emailHtml }}",
                "options": {}
            },
            "id": "node_send_claims_email",
            "name": "Send Notification Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [1560, 300],
            "credentials": {
                "gmailOAuth2": {
                    "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Claim submitted successfully. Your approver has been notified.' }) }}",
                "options": { "responseCode": 200 }
            },
            "id": "node_respond_claims",
            "name": "Respond — Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [1780, 300]
        }
    ],
    "connections": {
        "Webhook — Receive Claims Form":  { "main": [[{ "node": "Validate & Map Fields",        "type": "main", "index": 0 }]] },
        "Validate & Map Fields":          { "main": [[{ "node": "Upload Document to OneDrive",   "type": "main", "index": 0 }]] },
        "Upload Document to OneDrive":    { "main": [[{ "node": "Extract Drive Link",             "type": "main", "index": 0 }]] },
        "Extract Drive Link":             { "main": [[{ "node": "Append Row to Google Sheet",     "type": "main", "index": 0 }]] },
        "Append Row to Google Sheet":     { "main": [[{ "node": "Build Notification Email",       "type": "main", "index": 0 }]] },
        "Build Notification Email":       { "main": [[{ "node": "Send Notification Email",        "type": "main", "index": 0 }]] },
        "Send Notification Email":        { "main": [[{ "node": "Respond — Success",              "type": "main", "index": 0 }]] }
    },
    "settings": {
        "executionOrder": "v1",
        "saveDataSuccessExecution": "all",
        "saveDataErrorExecution": "all",
        "saveManualExecutions": true
    },
    "staticData": null,
    "tags": ["employee-claims"],
    "pinData": {},
    "meta": { "instanceId": "employee-claims-submission-v2" }
}
