n8n_opd_approval_workflow.json
{
    "name": "OPD Claims — Approval Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "opd-approve",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "node_webhook_opd_approve",
            "name": "Webhook — Approval Click",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "opd-approve"
        },
        {
            "parameters": {
                "jsCode": "// Parse and validate the OPD approval request\nconst query = $input.first().json.query || {};\n\nconst decision    = query.decision    || '';\nconst staffName   = decodeURIComponent(query.staffName   || '');\nconst submittedAt = decodeURIComponent(query.submittedAt || '');\n\nif (!['Approved', 'Rejected'].includes(decision)) {\n  throw new Error('Invalid decision. Must be Approved or Rejected.');\n}\nif (!staffName || !submittedAt) {\n  throw new Error('Missing staffName or submittedAt parameter.');\n}\n\nreturn [{\n  json: {\n    decision,\n    staffName,\n    submittedAt,\n    // Match sheet column headers (camelCase from Auto-Map mode)\n    claimStatus: decision\n  }\n}];\n"
            },
            "id": "node_parse_opd_decision",
            "name": "Parse Approval Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "mode": "list",
                    "value": "1hhokFjoAiZlFTRf4KEmOmR4bReOwtbuzuEfzvrGUHqA"
                },
                "sheetName": {
                    "mode": "list",
                    "value": "Sheet1"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "matchingColumns": [
                        "submittedAt"
                    ],
                    "value": {
                        "submittedAt": "={{ $json.submittedAt }}",
                        "claimStatus": "={{ $json.claimStatus }}"
                    },
                    "schema": [
                        {
                            "id": "submittedAt",
                            "displayName": "submittedAt",
                            "required": false,
                            "defaultMatch": true,
                            "canBeUsedToMatch": true,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        },
                        {
                            "id": "claimStatus",
                            "displayName": "claimStatus",
                            "required": false,
                            "defaultMatch": false,
                            "canBeUsedToMatch": false,
                            "display": true,
                            "type": "string",
                            "readOnly": false,
                            "removed": false
                        }
                    ]
                },
                "options": {}
            },
            "id": "node_update_opd_status",
            "name": "Update Claim Status",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
                    "name": "Google Sheets account 2"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const decision  = $('Parse Approval Request').first().json.decision;\nconst staffName = $('Parse Approval Request').first().json.staffName;\n\nconst isApproved = decision === 'Approved';\nconst emoji   = isApproved ? '✅' : '❌';\nconst color   = isApproved ? '#10b981' : '#ef4444';\nconst bgColor = isApproved ? '#ecfdf5'  : '#fef2f2';\nconst title   = isApproved ? 'OPD Claim Approved!' : 'OPD Claim Rejected';\nconst message = isApproved\n  ? `The OPD medical claim for <strong>${staffName}</strong> has been <strong>approved</strong> for reimbursement.`\n  : `The OPD medical claim for <strong>${staffName}</strong> has been <strong>rejected</strong>.`;\n\nconst html = `<!DOCTYPE html>\n<html><head><meta charset=\"utf-8\"><title>${title}</title></head>\n<body style=\"font-family:Arial,sans-serif;background:#f5f5f5;margin:0;padding:40px;min-height:100vh;display:flex;align-items:center;justify-content:center;box-sizing:border-box\">\n  <div style=\"max-width:460px;width:100%;background:white;border-radius:16px;padding:48px 36px;text-align:center;box-shadow:0 8px 32px rgba(0,0,0,0.1)\">\n    <div style=\"font-size:72px;margin-bottom:16px\">${emoji}</div>\n    <h1 style=\"color:${color};font-size:26px;margin:0 0 12px\">${title}</h1>\n    <p style=\"color:#555;font-size:15px;line-height:1.6;margin:0 0 24px\">${message}</p>\n    <div style=\"background:${bgColor};border:1px solid ${color}44;border-radius:10px;padding:16px 20px;text-align:left\">\n      <p style=\"margin:4px 0;font-size:13px;color:#444\">👤 <strong>Staff:</strong> ${staffName}</p>\n      <p style=\"margin:4px 0;font-size:13px;color:#444\">🏷 <strong>Decision:</strong> ${decision}</p>\n    </div>\n    <p style=\"margin-top:28px;color:#aaa;font-size:12px\">The OPD Claims Database has been updated automatically.</p>\n  </div>\n</body></html>`;\n\nreturn [{ json: { html, decision, staffName } }];\n"
            },
            "id": "node_build_opd_page",
            "name": "Build Confirmation Page",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.html }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "text/html; charset=utf-8"
                            }
                        ]
                    }
                }
            },
            "id": "node_respond_opd_confirm",
            "name": "Respond — Confirmation Page",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ]
        }
    ],
    "connections": {
        "Webhook — Approval Click": {
            "main": [
                [
                    {
                        "node": "Parse Approval Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Approval Request": {
            "main": [
                [
                    {
                        "node": "Update Claim Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Claim Status": {
            "main": [
                [
                    {
                        "node": "Build Confirmation Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Confirmation Page": {
            "main": [
                [
                    {
                        "node": "Respond — Confirmation Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveDataSuccessExecution": "all",
        "saveDataErrorExecution": "all"
    },
    "staticData": null,
    "tags": [
        "opd-claims"
    ],
    "meta": {
        "instanceId": "opd-claims-approval-v1"
    }
}